.auth__main {
  align-items: center;
  background: red;
  background: -webkit-linear-gradient(left top, $nord0, $nord12);
  background: -o-linear-gradient(bottom right, $nord0, $nord12);
  background: -moz-linear-gradient(bottom right, $nord0, $nord12);
  background: linear-gradient(to bottom right, $nord0, $nord12);
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  text-align: center;
  color: $nord6;

  h1 {
    color: $nord6;
    font-weight: 600;
    font-size: 4rem;
  }

  .auth__input,
  .auth__button {
    height: 3rem;
    width: 15rem;
    display: block;
    font-size: 18px;
  }

  .auth__input {
    background-color: $nord5;
    border-radius: 5px;
    border: 2px solid $nord5;
    color: $nord0;
    margin: 10px 0;
    padding: 15px;

    transition: border .4s ease;
    
    &::placeholder {
      color: lighten($color: $nord3, $amount: 10);
      opacity: 1;
      
    }
    
    &:focus {
      border: 2px solid $nord3;
      outline: none;
    }
  }

  hr {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: $nord6;
    border-width: 10px;
    width: 60px;
  }
}

.auth__alert {
  background-color: darken($color: $nord11, $amount: 5);
  border-radius: 5px;
  color: $nord5;
  display: flex;
  justify-content: center;
  padding: 5px
}